<!--div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm">
               
                <div class="menu">
                    <div class="top-lista" style="background: blue"><p id="top">SALAS ATIVAS</p></div>
                    
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let sala of salas">
                          <div class="items-sala">
                             <a href="">{{sala.nome}}</a> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                
                div class="foto"><img id="foto" src="../../assets/brainstorming-1-638.jpg"/></div>
                <div class="buton">
                    <button routerLink = "../criar-sala" type="button" class="btn btn-lg btn-primary">Criar</button>
                    <button routerLink = "../entrar-sala" type="button" class="btn btn-lg btn-primary">Entrar</button>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="d-flex justify-content-end">
                <button routerLink = "cadastro" type="button" class="btn btn-lg btn-primary">Cadastre-se</button>
              </div>
            </div>
      
            <div class="col-sm-6">
                <div class="d-flex .justify-content-start">
                  <button routerLink = "login" type="button" class="btn btn-lg btn-primary"> Entrar </button>
                </div>
            </div>
          </div>
    </div>
  </div>-->

  <div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-start">
                <div class="menu">
                    <div class="top-lista"><p>SALAS EXISTENTES</p></div>
                    
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let sala of salas | async">
                            <p>{{sala.key}} -- {{sala.tema}}</p>
                            
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-sm-4 d-flex justify-content-end">
                <button routerLink="../entrar-sala" type="button" class="btn btn-lg btn-primary"> Entrar em Sala </button>
            </div>
            <div class="col-sm-4 d-flex justify-content-start">
                    <button routerLink="../criar-sala" type="button" class="btn btn-lg btn-primary"> Criar uma Sala </button>
            </div>
        </div>
        <!--<app-entrar-room></app-entrar-room>-->
    </div>
    
  </div>
<button type="button" class="btn btn-danger ml-2" (click)="exibir()">Exibir</button>
