<div class="container">
  <div class="jumbotron">
      <div class="row">
          <div class="col-sm">
             
              <div class="menu">
                  <div class="top-lista"><p id="top">SALAS ATIVAS</p></div>
                  
                  <ul class="list-group">
                      <li class="list-group-item" *ngFor="let sala of salas">
                        <div class="items-sala">{{sala.nome}}</div>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-8 ">
              
              <div class="foto"><img id="foto" src="../../assets/brainstorming-1-638.jpg"/></div>
              <div class="buton">
                  <button routerLink = "../criar-sala" type="button" class="btn btn-lg btn-primary">Criar</button>
                  <button routerLink = "../entrar-sala" type="button" class="btn btn-lg btn-primary">Entrar</button>
              </div>
              <div class="div">
                    <a href="">Sair</a>
                  </div>
          </div>    
      </div>
  </div>
</div>