<div>
    <div class="row">
            <div class="col-sm-4 d-flex justify-content-start">
                <app-listar-salas></app-listar-salas>
            </div>
            
            <div class="col-sm-4 d-flex justify-content-center">
                <button routerLink="../entrar-sala" type="button" class="btn btn-lg btn-primary"> Entrar em Sala </button>
            </div>
            <div class="col-sm-4 d-flex justify-content-start">
                    <button routerLink="../criar-sala" type="button" class="btn btn-lg btn-primary"> Criar uma Sala </button>
            </div>
        </div>
  </div>
<!--
<button type="button" class="btn btn-danger ml-2" (click)="exibir()">Exibir</button>
-->