<div class="ui">
	
	
	<div class="lists">
		<div class="list">
			<header>List header</header>
			<ul>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis enim sit amet</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis enim sit amet metus laoreet, ut condimentum</li>
			</ul>
			<footer>Add a card...</footer>
		</div>
		
		</div>
	
</div>