<div class="row">
	<div class="col-sm-10">
		<div class="ui">
			<div class="lists" >
				<div class="list" *ngFor="let categoria of categorias | async">
					<header>{{categoria.key}}</header>
						<ul>
							<li>{{c.key}}</li>
						</ul>
						
					<footer>
					</footer>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="row" style="margin-right: 10px;">
			<div style="margin-left: 15px">
				<app-menu-add-idea></app-menu-add-idea>
			</div>		
		</div>
		<div class="row">
			<div style="margin-top:30px; margin-right: 10px;margin-left: 10px;">
				<app-menu-add-categoy></app-menu-add-categoy>
			</div>
		</div>
	</div>
</div>


<!--<p>COMPONENTE SALA</p>
<div class="card mt-2" *ngFor="let sala of salas | async">
	<h5 class="card-title">{{(sala.key)}}</h5>
	
	<div class="div" *ngFor="let s of sala/sala.key | async">
		<p>oi</p>
		<p>{{s.titulo}}</p>
	</div>
</div>-->
<button type="button" class="btn btn-danger ml-2" (click)="exibir()">Exibir</button>
