<h4 style="text-align:center">Novas ideias</h4>
<div>
		<h4>Categoria: </h4>
		<form (ngSubmit)="addIdeia()">
			  <select
			  		type="text" placeholder="Categoria" 
			  		name="name" class="form-control"
			  		[(ngModel)]="categoria"
		  		>
				<option 
					*ngFor="let categoria of categorias | async"
					value= "{{categoria.key}}"
				>{{categoria.key}}</option>
			</select>
          
				<input 
					type="text" placeholder="Ideia" 
					name="name" class="form-control"
					[(ngModel)]="new_idea"
				>
				<button type="submit" class="btn btn-success" style="margin-top:10px;">Add</button>
		</form>	
		<p style="color: red">{{message_error}}</p>
</div>